html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height plus extra spacing */
  margin-bottom: 75px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set fixed height of footer */
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

.white-overlay {
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.click-confirm {
  display: inline;
}

.word-wrap {
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}
